$text: #4c4c4c;
$outline: #cccccc;
$selected: $primary;

.radio-group {
  margin-bottom: 15px;
}

.radio-item {
  margin-right: 20px;

  input[type="radio"] {
    & + label {
      color: $text;
    }
  }

  .radio-button {
    transition: background-color 250ms linear;
    // background-color: #fff;
    // border: 2px solid $outline;
    // width: 20px;
    // height: 20px;
    // border-radius: 50%;
    margin-right: 5px;
    vertical-align: middle;
    cursor: pointer;
  }

  input[type="radio"]:checked + label {
    .radio-button {
      background-color: $selected;
    }
  }
}
