.planner-week {
  .day.is-today {
    .card-header-title {
      color: $success;
    }
  }
}

.card-content {
  @media screen and (max-width: $tablet) {
    padding: 0.9rem;
  }

  h3 {
    border-bottom: 1px solid #c0c0c0;
  }
}

nav.level {
  position: relative;

  .current {
    .link {
      font-size: 2.5rem;
    }
  }

  .link {
    font-size: 1.6rem;
  }
}
