.card-content {
  h3 {
    border-bottom: 1px solid #c0c0c0;
  }
}

nav.level {
  position: relative;

  .current {
    .link {
      font-size: 2.5rem;
    }
  }

  .link {
    font-size: 1.6rem;
  }
}
