.randomizer {
  & > .container {
    margin-top: 20px;
  }

  .generator {
    margin-bottom: 20px;

    .options {
      display: flex;
      flex-direction: column;
      align-items: center;
      margin-bottom: 20px;
    }

  }
}
