.randomizer {
  .generator {
    margin-bottom: 20px;

    .radio-group {
      display: flex;
      justify-content: center;
      margin-bottom: 20px;
    }

    .clear-selection {
      position: absolute;
      top: -6px;
      right: 0;
    }
  }
}
